<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="lingsheng">
        <el-menu
                :default-active="activeIndex2"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1" > new page</el-menu-item>
            <el-menu-item  index="2" > view page</el-menu-item >
            <el-menu-item index="3"> edit page</el-menu-item>
        </el-menu>
        <div v-show="tab1">
            <div>
                <el-row>
                    <el-col :span="8">文本名称</el-col>
                    <el-col :span="8">文本内容</el-col>
                    <el-col :span="8">操作</el-col>
                </el-row>
                <el-row>
                    <el-col :span="8">
                        <el-input v-model="newTextName" placeholder="请输入文本名"></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-input v-model="newTextValue" placeholder="请输入文本内容" type="textarea"></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-button type="primary">
                            保存
                        </el-button>
                    </el-col>
                </el-row>
            </div>
        </div>
        <div v-show="tab2">
            <el-row>
                <el-col :span="8">文本url</el-col>
                <el-col :span="8">文本名称</el-col>
                <el-col :span="8">操作</el-col>
            </el-row>
            <el-row>
                <div v-for="">
                    <el-col :span="8">
                        <el-link>有下划线</el-link>
                    </el-col>
                    <el-col :span="8">
                        <el-input v-model="newTextValue" placeholder="请输入文本内容" type="textarea"></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-button type="primary">
                            编辑
                        </el-button>
                    </el-col>
                </div>
            </el-row>
        </div>
        <div v-show="tab3">
            <el-row>
                <el-col :span="8">文本url</el-col>
                <el-col :span="8">文本内容</el-col>
                <el-col :span="8">操作</el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-input v-model="newTextName" placeholder="请输入文本名"></el-input>
                </el-col>
                <el-col :span="8">
                    <el-input v-model="newTextValue" placeholder="请输入文本内容" type="textarea"></el-input>
                </el-col>
                <el-col :span="8">
                    <el-button type="primary">
                        提交
                    </el-button>
                </el-col>
            </el-row>
        </div>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#lingsheng",
            data: {
                msg: "",
                activeIndex: '1',
                activeIndex2: '1',
                tab1: true,
                tab2: false,
                tab3: false,
                newTextName: '',
                newTextValue: '',
                data: {
                    textList:[

                    ]
                }
            },
            methods:{
                handleSelect(key, keyPath) {
                    if (key === "1"){
                        this.tab1 = true
                        this.tab2 = false
                        this.tab3 = false
                    } else if (key === "2"){
                        this.tab1 = false
                        this.tab2 = true
                        this.tab3 = false
                    } else {
                        this.tab1 = false
                        this.tab2 = false
                        this.tab3 = true
                    }
                }
            }
        });
    </script>
</body>
</html>